In [1]:
import yfinance as yf
import streamlit as st
import pandas as pd

In [12]:
st.write("""
# Simple Stock Price App

Shown are the stock closing price and volume of Google!
""")


#define the ticker symbol
tickerSymbol = 'GOOGL'
# get data on this ticker
tickerData = yf.Ticker(tickerSymbol)
# get the historical prices for this ticker
tickerDf = tickerData.history(period='1d', start='2010-5-31', end='2020-5-31')

st.line_chart(tickerDf.Close)
st.line_chart(tickerDf.Volume)

DeltaGenerator(_root_container=0, _provided_cursor=None, _parent=None, _block_type=None)

In [14]:
tickerData.history()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-03-15,2044.979980,2054.989990,2027.790039,2054.439941,1308400,0,0
2021-03-16,2065.989990,2113.679932,2059.290039,2083.889893,1592800,0,0
2021-03-17,2068.469971,2099.000000,2044.119995,2082.219971,1292400,0,0
2021-03-18,2048.179932,2068.750000,2019.180054,2021.339966,1585000,0,0
2021-03-19,2029.729980,2037.040039,2002.930054,2026.959961,2302700,0,0
2021-03-22,2027.630005,2048.340088,2014.000000,2030.689941,1676800,0,0
2021-03-23,2039.949951,2064.110107,2028.000000,2041.329956,1425500,0,0
2021-03-24,2051.760010,2067.600098,2029.000000,2032.530029,1260900,0,0
2021-03-25,2029.050049,2045.640015,1996.089966,2032.459961,1780800,0,0
2021-03-26,2031.790039,2039.390015,2003.849976,2024.729980,1398300,0,0
2021-03-29,2022.160034,2049.209961,2005.449951,2045.790039,1324600,0,0
2021-03-30,2052.979980,2062.669922,2036.150024,2046.469971,1365600,0,0
2021-03-31,2054.399902,2086.260010,2047.000000,2062.520020,2128500,0,0
2021-04-01,2092.250000,2135.750000,2091.429932,2129.780029,1994000,0,0
2021-04-05,2147.149902,2228.989990,2145.209961,2218.959961,2425500,0,0
2021-04-06,2210.919922,2228.000000,2201.790039,2209.260010,1762000,0,0
2021-04-07,2213.100098,2244.500000,2213.100098,2239.030029,1206700,0,0
2021-04-08,2264.000000,2271.790039,2243.010010,2250.429932,1433200,0,0
2021-04-09,2245.439941,2273.969971,2237.260010,2270.669922,1304400,0,0
2021-04-12,2254.120117,2256.889893,2227.820068,2244.620117,1251200,0,0
2021-04-13,2250.989990,2263.469971,2243.050049,2254.429932,1284100,0,0
2021-04-14,2267.429932,2267.429932,2236.020020,2241.909912,1049400,0,0